<header>
    <nav>
        <div class="nav-logo">
            <a href="/">
                <img src="/img/logo.png" alt="Logo of the company">
            </a>
        </div>
        <div class="nav-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Recently added</a></li>
            </ul>
        </div>
        <div class="nav-search">
            <form action="/search">
                <div class="input-wrapper">
                    <i class="fas fa-search input-icon"></i>
                    <label for="search-movie"></label>
                    <input type="search" placeholder="Zoek een film..." name="term" id="search-movie">
                </div>
            </form>
        </div>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>